WebApiServices/Web References/WsSeguridad/SoaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListarInformesPDFPatCore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tocken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdCliente" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdOrdenAtencion" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Linea" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarInformesPDFPatCoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarInformesPDFPatCoreResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarInforme">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdCliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarInformeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizarInformeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarInformesPDFPatCoreSoapIn">
    <wsdl:part name="parameters" element="tns:ListarInformesPDFPatCore" />
  </wsdl:message>
  <wsdl:message name="ListarInformesPDFPatCoreSoapOut">
    <wsdl:part name="parameters" element="tns:ListarInformesPDFPatCoreResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarInformeSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarInforme" />
  </wsdl:message>
  <wsdl:message name="ActualizarInformeSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarInformeResponse" />
  </wsdl:message>
  <wsdl:portType name="SoaServiceSoap">
    <wsdl:operation name="ListarInformesPDFPatCore">
      <wsdl:input message="tns:ListarInformesPDFPatCoreSoapIn" />
      <wsdl:output message="tns:ListarInformesPDFPatCoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarInforme">
      <wsdl:input message="tns:ActualizarInformeSoapIn" />
      <wsdl:output message="tns:ActualizarInformeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoaServiceSoap" type="tns:SoaServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarInformesPDFPatCore">
      <soap:operation soapAction="http://tempuri.org/ListarInformesPDFPatCore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarInforme">
      <soap:operation soapAction="http://tempuri.org/ActualizarInforme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SoaServiceSoap12" type="tns:SoaServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarInformesPDFPatCore">
      <soap12:operation soapAction="http://tempuri.org/ListarInformesPDFPatCore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarInforme">
      <soap12:operation soapAction="http://tempuri.org/ActualizarInforme" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoaService">
    <wsdl:port name="SoaServiceSoap" binding="tns:SoaServiceSoap">
      <soap:address location="http://143.137.145.236/WsSeguridad/SoaService.asmx" />
    </wsdl:port>
    <wsdl:port name="SoaServiceSoap12" binding="tns:SoaServiceSoap12">
      <soap12:address location="http://143.137.145.236/WsSeguridad/SoaService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>