WebApiServices/Web References/WebSanna/SoaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultaOAFerrer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrdenAtencion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TipoOrden" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Sucursal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NombreCompleto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaOAFerrerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaOAFerrerResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaOASanBorja">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrdenAtencion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TipoOrden" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Unidad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaOASanBorjaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaOASanBorjaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaOAGolf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrdenAtencion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TipoOrden" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Unidad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaOAGolfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaOAGolfResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaOAAliada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrdenAtencion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TipoOrden" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Unidad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaOAAliadaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaOAAliadaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaOAFerrerSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaOAFerrer" />
  </wsdl:message>
  <wsdl:message name="ConsultaOAFerrerSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaOAFerrerResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaOASanBorjaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaOASanBorja" />
  </wsdl:message>
  <wsdl:message name="ConsultaOASanBorjaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaOASanBorjaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaOAGolfSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaOAGolf" />
  </wsdl:message>
  <wsdl:message name="ConsultaOAGolfSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaOAGolfResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaOAAliadaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaOAAliada" />
  </wsdl:message>
  <wsdl:message name="ConsultaOAAliadaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaOAAliadaResponse" />
  </wsdl:message>
  <wsdl:portType name="SoaServiceSoap">
    <wsdl:operation name="ConsultaOAFerrer">
      <wsdl:input message="tns:ConsultaOAFerrerSoapIn" />
      <wsdl:output message="tns:ConsultaOAFerrerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaOASanBorja">
      <wsdl:input message="tns:ConsultaOASanBorjaSoapIn" />
      <wsdl:output message="tns:ConsultaOASanBorjaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaOAGolf">
      <wsdl:input message="tns:ConsultaOAGolfSoapIn" />
      <wsdl:output message="tns:ConsultaOAGolfSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaOAAliada">
      <wsdl:input message="tns:ConsultaOAAliadaSoapIn" />
      <wsdl:output message="tns:ConsultaOAAliadaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoaServiceSoap" type="tns:SoaServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaOAFerrer">
      <soap:operation soapAction="http://tempuri.org/ConsultaOAFerrer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaOASanBorja">
      <soap:operation soapAction="http://tempuri.org/ConsultaOASanBorja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaOAGolf">
      <soap:operation soapAction="http://tempuri.org/ConsultaOAGolf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaOAAliada">
      <soap:operation soapAction="http://tempuri.org/ConsultaOAAliada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SoaServiceSoap12" type="tns:SoaServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaOAFerrer">
      <soap12:operation soapAction="http://tempuri.org/ConsultaOAFerrer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaOASanBorja">
      <soap12:operation soapAction="http://tempuri.org/ConsultaOASanBorja" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaOAGolf">
      <soap12:operation soapAction="http://tempuri.org/ConsultaOAGolf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaOAAliada">
      <soap12:operation soapAction="http://tempuri.org/ConsultaOAAliada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoaService">
    <wsdl:port name="SoaServiceSoap" binding="tns:SoaServiceSoap">
      <soap:address location="http://143.137.145.236/ServicesClinica/SoaService.asmx" />
    </wsdl:port>
    <wsdl:port name="SoaServiceSoap12" binding="tns:SoaServiceSoap12">
      <soap12:address location="http://143.137.145.236/ServicesClinica/SoaService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>