WebApiServices/Web References/WsReporte/WServiceReporte.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListadoImpresion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjDetalle" type="tns:ImpresionRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ImpresionRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdReporte" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdAdmision" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NroPeticion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListadoImpresionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListadoImpresionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListadoImpresionSoapIn">
    <wsdl:part name="parameters" element="tns:ListadoImpresion" />
  </wsdl:message>
  <wsdl:message name="ListadoImpresionSoapOut">
    <wsdl:part name="parameters" element="tns:ListadoImpresionResponse" />
  </wsdl:message>
  <wsdl:portType name="WServiceReporteSoap">
    <wsdl:operation name="ListadoImpresion">
      <wsdl:input message="tns:ListadoImpresionSoapIn" />
      <wsdl:output message="tns:ListadoImpresionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WServiceReporteSoap" type="tns:WServiceReporteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListadoImpresion">
      <soap:operation soapAction="http://tempuri.org/ListadoImpresion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WServiceReporteSoap12" type="tns:WServiceReporteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListadoImpresion">
      <soap12:operation soapAction="http://tempuri.org/ListadoImpresion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WServiceReporte">
    <wsdl:port name="WServiceReporteSoap" binding="tns:WServiceReporteSoap">
      <soap:address location="http://localhost:14064/WServiceReporte.asmx" />
    </wsdl:port>
    <wsdl:port name="WServiceReporteSoap12" binding="tns:WServiceReporteSoap12">
      <soap12:address location="http://localhost:14064/WServiceReporte.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>